
.fPass-div {
    margin-top: 0%;
    min-height: 100vh;
    min-width: 100vw;
    /* margin-left: -0.65%; */
    display:flex;
    flex-direction:column;
    align-content:right;
    align-items:center;
    vertical-align: middle;
    justify-content: center;
    background-image: url(./signup_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:black !important;
    font-size: 1.2rem;
}
.fPass-card {
    margin-top: 0%;
    margin-right: 100px;
    align-self:center;
    align-items:center;
    text-align: center;
    justify-content: right;
    border-radius: 3rem;
    /* background-image:url('./signup_bg.jpg') ; */
    background-repeat: no-repeat;
    background-size:cover;
    color:black;
    box-shadow: 5px 5px 5px #FF8C00;
}
.login-div{
    margin-top: 0%;
    min-height: 100vh;
    min-width: 100vw;
    /* margin-left: -0.65%; */
    display:flex;
    flex-direction:row;
    /* align-content:right;
    align-items:center; */
    vertical-align: middle;
    /* justify-content: center; */
    background-image: url(./signup_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:black !important;
    font-size: 1.2rem;
}

.login-img{
    height:5rem;
    width:5rem;
    margin: 1%;
    z-index: 100;
    /* animation: moveLogo 5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite; */
    animation: moveLogo 5s linear infinite;
    
}
@keyframes moveLogo {
    0% {
      transform: rotate(0deg);
    }
    25% {
        /* translateY(70px) translateX(-160px)  */
      transform: rotate(180deg); 
    }
    50% {
        /* translateX(160px) translateY(70px)  */
      transform: rotate(360deg); 
    }
    75% {
      transform: rotate(540deg); 
    }
    100% {
      transform: rotate(720deg); /* Full rotation */
    }
  }
  

label{
    color:#ff6600;
    background-color:transparent !important;
    text-align: left !important;
    transform: translateY(100%) !important;
    display: flex !important;
    /* margin-left: 35%; */
    /* justify-content: center !important; */
    margin-bottom: 1% !important;
}
.input-login-signup{
    border-radius:1rem !important;
    background-color:transparent !important;
    color:black !important;
    min-height: 2rem !important;
    font-size: 1.5rem !important;
    border-top: none !important;
    outline: transparent !important;
    /* --bs-border-color:black;  */
    /* --bs-box-shadow: white;    */
}

.signup-div{
    margin-top: 0%;
    min-height: 100vh;
    min-width: 100vw;
    /* margin-left: -0.65%; */
    display:flex;
    flex-direction:row;
    vertical-align: middle;
    background-image:url('./signup_bg.jpg');
    font-size: 1.2rem;
    background-repeat: no-repeat;
    background-size:cover;
    color:black;
    /* padding-bottom: 2%; */
}

@media (min-width: 1900px){
    .login-card{
        margin-top: 20%;
        margin-right: 100px;
        align-self:center;
        /* align-items:center; */
        text-align: center;
        justify-content: right;
        border-radius: 3rem;
        /* background-image:url('./signup_bg.jpg') ; */
        background-repeat: no-repeat;
        background-size:cover;
        color:black;
        box-shadow: 5px 5px 5px #FF8C00;
    }
    
    .login-text{
        text-align: left;
        color: black;
        margin-left:100px;
        vertical-align: middle;
        margin-top: 30%;
        text-align: left;
        padding-right: 20px;
        line-height: 2;
    }
    
    .signup-card{
        margin-top: 6%;
        margin-right: 100px;
        align-self:center;
        /* align-items:center; */
        text-align: center;
        justify-content: right;
        border-radius: 3rem;
        /* background-image:url('./signup_bg.jpg') ; */
        background-repeat: no-repeat;
        background-size:cover;
        color:black;
        box-shadow: 5px 5px 5px #FF8C00;
    }
    .signup-text{
        text-align: left;
        color: black;
        margin-left:100px;
        vertical-align: middle;
        margin-top: 30%;
        text-align: left;
        padding-right: 20px;
        line-height: 2;
    }
}
.signup-img{
    height:3rem;
    width:20rem;
    margin: 1% 0 0 1%;
    z-index: 100;
}
.captchaImg {
    margin-top: 3rem;
}
.reCaptcha{
    color: green;
    font-size: 2.5rem;
    margin-left:50%;
    padding-left:50%;
}
.passValid {
    position: absolute;
    left: -29%;
    top: 50%;
    width: 250px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 0 0 0;
    font-size: 0.9rem;
    color: black;
    z-index: 1000;
    text-align: left;
}

@media (max-width: 1370px) {
    .login-card{
        margin-top: 6%;
        margin-right: 100px;
        align-self:center;
        /* align-items:center; */
        text-align: center;
        justify-content: right;
        border-radius: 3rem;
        /* background-image:url('./signup_bg.jpg') ; */
        background-repeat: no-repeat;
        background-size:cover;
        color:black;
        box-shadow: 5px 5px 5px #FF8C00;
    }
    .login-text{
        text-align: left;
        color: black;
        margin-left:100px;
        vertical-align: middle;
        margin-top: 15%;
        text-align: left;
        padding-right: 20px;
        line-height: 1.5;
    }
    .signup-card{
        margin-top: 1%;
        margin-right: 20px;
        align-self:center;
        text-align: center;
        justify-content: right;
        border-radius: 3rem;
        background-repeat: no-repeat;
        background-size:cover;
        color:black;
        box-shadow: 5px 5px 5px #FF8C00;
    }
    .signup-text{
        text-align: left;
        color: black;
        margin-left:20px;
        vertical-align: middle;
        margin-top: 20%;
        text-align: left;
        padding-right: 20px;
        line-height: 1.5;
    }
}

@media (max-width: 900px) {
    .login-div{
        margin-top: 0%;
        margin-left: -1%;
        min-height: 100vh;
        display:flex;
        flex-direction:column;
        align-content:center;
        align-items:center;
        vertical-align: middle;
        justify-content: center;
    }
    .login-card{
        margin-top: 0%;
        width: 100%;
        align-self:center;
        align-items:center;
        text-align: center;
        border-radius: 2rem;
        border-color: rgb(248, 218, 49);
    }
    .signup-div{
        margin-top: 0%;
        margin-left: 0%;
        min-height: 100vh;
        display:flex;
        flex-direction:column;
        align-content:center;
        align-items:center;
        vertical-align: middle;
        justify-content: center;
        background-image: none;  
    }
    .signup-text{
        text-align: left;
        color: black;
        margin-left:5px;
        vertical-align: middle;
        /* margin-top: 20%; */
        text-align: left;
        padding-right: 10px;
        line-height: 1.5;
    }
    .login-text{
        text-align: left;
        color: black;
        margin-left:20px;
        vertical-align: middle;
        /* margin-top: 15%; */
        text-align: left;
        padding-right: 10px;
        line-height: 1.5;
    }
    .captchaImg {
        margin-top: 1px;
        margin-bottom: 5px;
    }
    .signup-text {
        margin-top: 5%;
        width: 100%;
        text-align: left;
        margin-left: 20px;
        border-radius: 2rem;
    }
    .signup-text h3 {
        color: white;
    }

    .signup-card{
        margin-top: 2%;
        width: 100%;
        align-self:center;
        /* align-items:center; */
        text-align: center;
        border-radius: 2rem;
        /* border-color: rgb(248, 218, 49); */
    }

    .passValid {
        /* position: absolute; */
        left: 1%;
        top: 43%;
        /* width: 250px;
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        font-size: 0.9rem;
        color: black;
        z-index: 1000; */
    }
}

.otp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .otp-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 0 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .otp-input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .otp-submit-btn {
    background-color: #007bff;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .otp-submit-btn:hover {
    background-color: #0056b3;
  }
